/* latin */
@font-face {
	font-family: 'Comfortaa';
	font-style: normal;
	font-weight: 300;
	src: local('Comfortaa Light'), local('Comfortaa-Light'), url(../fonts/comfortaa-light-latin.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */
@font-face {
	font-family: 'Comfortaa';
	font-style: normal;
	font-weight: 300;
	src: local('Comfortaa Light'), local('Comfortaa-Light'), url(../fonts/comfortaa-light-latin-ext.woff2) format('woff2');
	unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
	font-family: 'Comfortaa';
	font-style: normal;
	font-weight: 400;
	src: local('Comfortaa'), local('Comfortaa-Regular'), url(../fonts/comfortaa-regular-latin.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */
@font-face {
	font-family: 'Comfortaa';
	font-style: normal;
	font-weight: 400;
	src: local('Comfortaa'), local('Comfortaa-Regular'), url(../fonts/comfortaa-regular-latin-ext.woff2) format('woff2');
	unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}


*, *:before, *:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
::-webkit-scrollbar {
	width: 10px;
}
::-webkit-scrollbar-track {
	background-color: #d8d8d8;
}
::-webkit-scrollbar-thumb {
	background-color: #b1b2b3;
}
::-webkit-scrollbar-thumb:hover {
	background-color: #F17261;
}
body {
	background: #f2f2f2;
	font-family: Comfortaa;
	font-weight: 300;
	font-size: 16px;
	margin: 0;
	padding: 0;
}
.error {
	font-weight: 300;
	color: #F17261;
}
#bookmarks {
	margin: 5px auto 0;
	width: 98%;
	min-width: 250px;
	max-width: 1440px;
}
#content {
	margin: 0;
	padding: 0;
}
#content > li {
	list-style: none;
	margin: 0 0 5px 0;
}
#content a {
	background: #fff;
	box-shadow: 0px 2px 1px -2px #aaa;
	color: #666;
	display: block;
	letter-spacing: 1px;
	line-height: 40px;
	overflow: hidden;
	padding: 0 10px;
	text-align: center;
	text-decoration: none;
	text-overflow: ellipsis;
	text-transform: lowercase;
	transition: background .15s ease, color .25s ease;
	white-space: nowrap;
}
#content a:hover {
	background: #F17261;
	color: #ecf0f1;
}

#content img {
	margin-right: 5px;
	opacity: 0.2;
	vertical-align: middle;
	-webkit-column-break-inside: avoid;
	-webkit-backface-visibility: hidden;
}
#content li:hover img {
	opacity: 1;
}

@media screen and (max-width: 321px) {
	#content {
		/* Override */
		-webkit-columns: 1 !important;
	}
}

@media screen and (min-width: 321px) and (max-width: 640px) {
	#content {
		-webkit-columns: 2;
	}
}

@media screen and (min-width: 641px) {
	#content {
		-webkit-columns: 3;
	}
}

@media screen and (min-width: 801px) {
	#bookmarks {
		margin-top: 30px;
		width: 70%
	}
}

@media screen and (min-width: 1367px) {
	#bookmarks {
		margin-top: 40px;
		width: 60%;
	}
	#content {
		-webkit-columns: 4;
	}
}
